<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="CollectionBean" class="CollectionBean">
<property name="list">
<list>
<value> DevOps </value>
<value> Spring </value>
<value> Framework </value>
</list>
</property>

<property name="set">
<set>
<value>Hello</value>
<value> Hey </value>
</set>
</property>

<property name="map">
<map>
<entry key="Hi" value="hello"></entry>
<entry key="bye" value="Goodbye"></entry>
</map>
</property>
</bean>

</beans>
